.container {
  height: 100%;
  width: 100%;
}

.container > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.wrapper {
  height: fit-content;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
 
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
}

.wrapper > form {
  padding-top: 1rem;
  background-color: #9f4c4c;
  height: fit-content;
  width: 40vw;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.82);
}
.wrapper > form > input {
  width: 90%;
  height: 3rem;
  padding-left: 25px;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
}

 .wrapper>.wraps > select {
    height: 3rem;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color: #222;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 0.25rem;
    width: 89%;
    padding-left: 25px;
}
.wrapper > .wraps > .labels>label{
    margin-left:15vw;
    border-radius: 10px;
   
    cursor: pointer;
    height: 2.1rem;
}
.wrapper > .wraps > .labels:hover{
    scale:1.001;
}

.wrapper > .wraps  >button {
  transition: 1000ms ease-in-out;
  background-color: rgba(15, 179, 34, 0.751);
  border: none;
  color: #f0ecec;
  margin-left:29.5vw;
  margin-bottom: 2px;
  width: 10vw;

  
}
.wrapper > .wraps  >button:hover{
    scale: 1.1;
    background-color: rgba(13, 151, 29, 0.751);
    margin-left:29.2vw;
  
}

.error {
  height: 70px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #f00;
  color: #fff;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper > form > select {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  color: #222;
  outline: none;
  padding: 0.5rem 0.25rem;
  width: 50%;
}
