.r-wrapper{
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0.2px 0.2px 2px rgba(0, 0, 0, 0.164);
    border-radius: 12px;
}

.location{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.r-container {
    gap: 2rem;
    position: relative;
    overflow: hidden;

  }
  .r-head{
    margin-bottom: 2rem;
  }
  .r-card {
   
    width: 100%;
    height: 17rem;
    gap: 0.6rem;
    
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
  }
  .r-card > img {
    border-radius: 12px;
    width:15rem;
    height: 8rem;
    max-width: 15rem;
  }
  .r-card > :nth-child(3) {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .r-card > :nth-child(4) {
    font-size: 1.5rem;
  }
  .r-card > :nth-child(5) {
    font-size: 0.7rem;
    width: 15rem;
  } 
  .r-card:hover {
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(136, 160, 255, 0.46) 217.91%
    );
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
  }
  .swiper-horizontal{
    overflow: visible;
  }
  .r-buttons{
    position: absolute;
 
    top: -6rem;
    
    right: 0;
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .r-buttons button{
    font-size: 1.2rem;
    padding: .2rem .8rem;
    color: blue;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }

  .r-buttons>:nth-child(1)
  {
    width: 48%;
    margin-right: 2px;
    background-color: #bdbdc0;
    
  }
  .r-buttons>:nth-child(1):hover
  {

    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.385);
    
  }
  .r-buttons>:nth-child(2)
  {
    width: 50%;
  
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.385);
  }
   .r-buttons>:nth-child(2):hover
  {
    width: 50%;
  
    box-shadow:inset 0px 0px 5px 1px rgba(0, 0, 0, 0.385);
  }
   

  .paddings {
    padding: 1.5rem;
  }
  
  .innerWidth {
    width: 100%;
  }
  .flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexColStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .primaryText {
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .secondaryText {
    color: rgb(140 139 139);
    font-size: 0.9rem;
  }
  .desc{
    
  }
  .orangeText {
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
/* media queries */
@media (min-width: 1536px) {
    .innerWidth {
      max-width: 1280px;
      margin: auto;
    }
  }
  
  @media (min-width: 640px) {
    .paddings {
      padding: 4rem;
    }
  }
  
  @media (min-width: 1280px), (min-width: 768px) {
    .paddings {
      padding: 2rem;
    }
  }
  
  @media (max-width: 640px) {
    .primaryText {
      font-size: 1.5rem;
    }
    .orangeText {
      font-size: 1.2rem;
    }
  }
  
  .button {
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background: var(--blue-gradient);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
  }
  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }